<div class="container-fluid" id="user-post">
  <button type="button" class="btn btn-info posts" value="{{id}}">
    <h2 class="title">{{post_title}}</h2>
    <p class="post-date">{{format_date created_at}}</p>
  </button>
</div>
