{{#each posts as |post| }}

{{> post-render post }}

{{/each}}

<div class="col-md-6 rounded border border-secondary" id="new-post">
  <h2>New Post</h2>

  <form class="form" id="new-post-form">
    <div class="form-group">
      <label for="post-title">Title:</label>
      <input class="form-input" type="text" id="post-title" />
    </div>
    <div class="form-group">
      <label for="post-content">Content:</label>
      <input class="form-input" type="text" id="post-content" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Add Post</button>
    </div>
  </form>
</div>

<button id="add">Add Post</button>

<div class="card">
  I hope the posts worked
</div>

<script src="./js/newPost.js"></script>