<div class="posts-div">
  {{#each posts as |post| }}

  {{> dash-posts post }}

  {{/each}}
</div>


<div class="col-md-6 rounded border border-secondary" id="new-post">
  <h2>New Post</h2>

  <form class="form" id="new-post-form">
    <div class="form-group">
      <label for="post-title">Title:</label>
      <input class="form-input" type="text" id="post-title" />
    </div>
    <div class="form-group">
      <label for="post-content">Content:</label>
      <input class="form-input" type="text" id="post-content" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Add Post</button>
    </div>
  </form>
</div>

<div class="col-md-6 rounded border border-secondary" id="edit">
  <h2>Edit Post</h2>

  <form class="form edit-form">
    <div class="form-group">
      <label for="edit-title">Title:</label>
      <input class="form-input" type="text" id="edit-title" value=""/>
    </div>
    <div class="form-group">
      <label for="edit-content" >Content:</label>
      <input class="form-input" type="text" id="edit-content" value=""/>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Update</button>
      <button class="btn btn-primary" id="delete" type="button">Delete</button>
    </div>
  </form>
</div>


<button id="add">Add Post</button>

<script src="./js/newPost.js"></script>
<script src="./js/editPost.js"></script>