<div class="row">
  <div class="col-md-6 rounded border border-secondary" id="logout">
    <h2>Logout</h2>

    <form class="form logout-form">
      <div class="form-group">
        <p>Are you sure you want to Logout?</p>
        <button class="btn btn-primary" type="submit">Logout</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/logout.js"></script>