{{> post-render post }}

{{> comments-render post.comments}}
<div>
  <button class="comment-btn">Add Comment</button>
  <div class="card col-9">
    <form class="comment-form">
      <div class="form-group">
        <label for="comment">Comment:</label>
        <input class="form-input" type="text" id="comment"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Add Comment</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/newComment.js"></script>