{{> post-render post }}

{{> comments-render post.comments}}
<div>
  <button class="comment-btn">Add Comment</button>
  <div class="card col-9">
    <form class="comment-form">
      It worked
    </form>
  </div>
</div>

<script src="/js/newComment.js"></script>