header {
  background-color: brown;
}
.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.card-header {
  width: 100%;
}

.comment-form {
  display: none;
}

#login {
  margin-left: 20px;

}

#signup {
  margin-left: 20px;
  display: none;
}

#new-post {
  display: none;
}

#post-title, #edit-title {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;

}

#post-content, #edit-content {
  width: 100%;
  padding: 42px 20px;
  box-sizing: border-box;

}

.posts {
  width: 100%;
  background-color: rgba(62, 35, 35, 0.913);
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px;
}

#edit {
  display: none;
}