header {
  background-color: brown;
}
.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.card-header {
  width: 100%;
}

.comment-form {
  display: none;
}

#login {
  margin-left: 20px;

}

#signup {
  margin-left: 20px;
  display: none;
}